@model IEnumerable<RegistrationApi.DBModel.Enrollment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.enrollmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.courseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.enrollmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.enrollmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.courseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.enrollmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.userId  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.userId  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.userId  })
            </td>
        </tr>
}
    </tbody>
</table>
