@model IEnumerable<NewAPIConsume.Models.CourseMaterialViewModel>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #D6EEEE;
        }
    </style>
</head>
<body>

    <h2 style="color:cadetblue" >  Material hub for Course</h2>


    <img src="~/Images/Book.jpg" alt="Book Description" height="200" width="500" style="border-radius: 10px 10px 10px 10px;">

<table class="mt-2" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.materialId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.URL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.upload_file)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.level)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.materialId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.URL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.upload_file)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.level)
            </td>
          
        </tr>
}
    </tbody>
</table>
</body>
</html>



